# general stuff
fs.path = ../fs/
#nodes.count = 7
#quorum.read = 4
#quorum.write = 4
nodes.count = 3
quorum.read = 2
quorum.write = 2

# node stuff
#node.addresses = csel-kh4250-11.cselabs.umn.edu,csel-kh4250-12.cselabs.umn.edu,csel-kh4250-13.cselabs.umn.edu,csel-kh4250-14.cselabs.umn.edu,csel-kh4250-15.cselabs.umn.edu,csel-kh4250-06.cselabs.umn.edu,csel-kh4250-17.cselabs.umn.edu
#node.ports = 9077,9077,9077,9077,9077,9077,9077
node.addresses = csel-kh4250-11.cselabs.umn.edu,csel-kh4250-12.cselabs.umn.edu,csel-kh4250-03.cselabs.umn.edu
node.ports = 9077,9077,9077
tempdir.prefix = /tmp/fs
node.syncdelay = 3000

# coordinator stuff
coord.id = 0

# client stuff
client.maxdelay = 2000
